div{
    border: 1px solid salmon;
    display: inline-block;
    vertical-align: top;
    min-height: 150px;
    width: 49%;
    text-align: center;

}
outerdiv{
    width: 60%;
    margin: 0, auto;
}
ul{
    padding-left: 20px;

}
body{
    text-align: center;
}
